
 <script src="/static/js/jquery-1.4.4.js" type="text/javascript"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


 <script src="/static/js/spinner/jquery.mousewheel.js"></script>
 <script src="/static/js/spinner/ui.spinner.js"></script>

 <script src="/static/js/fileManager/elfinder.min.js"></script>

 <script src="/static/js/wysiwyg/jquery.wysiwyg.js"></script>
 <script src="/static/js/wysiwyg/wysiwyg.image.js"></script>
 <script src="/static/js/wysiwyg/wysiwyg.link.js"></script>
 <script src="/static/js/wysiwyg/wysiwyg.table.js"></script>

 <script src="/static/js/flot/jquery.flot.js"></script>
 <script src="/static/js/flot/jquery.flot.pie.js"></script>
 <script src="/static/js/flot/jquery.flot.resize.js"></script>
 <script src="/static/js/flot/excanvas.min.js"></script>

 <script src="/static/js/dataTables/jquery.dataTables.js"></script>
 <script src="/static/js/dataTables/colResizable.min.js"></script>

 <script src="/static/js/forms/forms.js"></script>
 <script src="/static/js/forms/autogrowtextarea.js"></script>
 <script src="/static/js/forms/autotab.js"></script>
 <script src="/static/js/forms/jquery.validationEngine-en.js"></script>
 <script src="/static/js/forms/jquery.validationEngine.js"></script>
 <script src="/static/js/forms/jquery.dualListBox.js"></script>
 <script src="/static/js/forms/jquery.filestyle.js"></script>

 <script src="/static/js/colorPicker/colorpicker.js"></script>

 <script src="/static/js/uploader/plupload.js"></script>
 <script src="/static/js/uploader/plupload.html5.js"></script>
 <script src="/static/js/uploader/plupload.html4.js"></script>
 <script src="/static/js/uploader/jquery.plupload.queue.js"></script>


 <script src="/static/js/ui/progress.js"></script>
 <script src="/static/js/ui/jquery.jgrowl.js"></script>
 <script src="/static/js/ui/jquery.tipsy.js"></script>
 <script src="/static/js/ui/jquery.alerts.js"></script>

 <script src="/static/js/jBreadCrumb.1.1.js"></script>
 <script src="/static/js/cal.min.js"></script>
 <script src="/static/js/jquery.smartWizard.min.js"></script>
 <script src="/static/js/jquery.collapsible.min.js"></script>
 <script src="/static/js/jquery.ToTop.js"></script>
 <script src="/static/js/jquery.listnav.js"></script>
 <script src="/static/js/jquery.sourcerer.js"></script>
 <script src="/static/js/jquery.timeentry.min.js"></script>

<script src="/static/js/custom.js"></script>
