 <script src="{{ STATIC_URL }}js/spinner/jquery.mousewheel.js"></script>
 <script src="{{ STATIC_URL }}js/spinner/ui.spinner.js"></script>

 <script src="{{ STATIC_URL }}js/fileManager/elfinder.min.js"></script>

 <script src="{{ STATIC_URL }}js/wysiwyg/jquery.wysiwyg.js"></script>
 <script src="{{ STATIC_URL }}js/wysiwyg/wysiwyg.image.js"></script>
 <script src="{{ STATIC_URL }}js/wysiwyg/wysiwyg.link.js"></script>
 <script src="{{ STATIC_URL }}js/wysiwyg/wysiwyg.table.js"></script>

 <script src="{{ STATIC_URL }}js/flot/jquery.flot.js"></script>
 <script src="{{ STATIC_URL }}js/flot/jquery.flot.pie.js"></script>
 <script src="{{ STATIC_URL }}js/flot/jquery.flot.resize.js"></script>
 <script src="{{ STATIC_URL }}js/flot/excanvas.min.js"></script>

 <script src="{{ STATIC_URL }}js/dataTables/jquery.dataTables.js"></script>
 <script src="{{ STATIC_URL }}js/dataTables/colResizable.min.js"></script>

 <script src="{{ STATIC_URL }}js/forms/forms.js"></script>
 <script src="{{ STATIC_URL }}js/forms/autogrowtextarea.js"></script>
 <script src="{{ STATIC_URL }}js/forms/autotab.js"></script>
 <script src="{{ STATIC_URL }}js/forms/jquery.validationEngine-en.js"></script>
 <script src="{{ STATIC_URL }}js/forms/jquery.validationEngine.js"></script>
 <script src="{{ STATIC_URL }}js/forms/jquery.dualListBox.js"></script>
 <script src="{{ STATIC_URL }}js/forms/jquery.filestyle.js"></script>

 <script src="{{ STATIC_URL }}js/colorPicker/colorpicker.js"></script>

 <script src="{{ STATIC_URL }}js/uploader/plupload.js"></script>
 <script src="{{ STATIC_URL }}js/uploader/plupload.html5.js"></script>
 <script src="{{ STATIC_URL }}js/uploader/plupload.html4.js"></script>
 <script src="{{ STATIC_URL }}js/uploader/jquery.plupload.queue.js"></script>

 <script src="{{ STATIC_URL }}js/ui/progress.js"></script>
 <script src="{{ STATIC_URL }}js/ui/jquery.jgrowl.js"></script>
 <script src="{{ STATIC_URL }}js/ui/jquery.tipsy.js"></script>
 <script src="{{ STATIC_URL }}js/ui/jquery.alerts.js"></script>

 <script src="{{ STATIC_URL }}js/jBreadCrumb.1.1.js"></script>
 <script src="{{ STATIC_URL }}js/cal.min.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.smartWizard.min.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.collapsible.min.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.ToTop.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.listnav.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.sourcerer.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.timeentry.min.js"></script>

<script src="{{ STATIC_URL }}js/custom.js"></script>
