<!-- Top navigation bar -->
<div id="topNav">
    <div class="fixed">
        <div class="wrapper">
            <div class="welcome">
                <a href="#" title="">
                    <img src="{{ STATIC_URL }}images/userPic.png" alt="" /></a>
                <span>{% if user.is_authenticated %}Howdy, {{ user.username }}! {% else%} hi, anonymous{% endif %}</span>
            </div>
            <div class="userNav">
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#" title="">
                            <img src="{{ STATIC_URL }}images/icons/topnav/profile.png" alt="" /><span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <img src="{{ STATIC_URL }}images/icons/topnav/tasks.png" alt="" />
                            <span>Tasks</span>
                        </a>
                    </li>
                    <li class="dd">
                        <img src="{{ STATIC_URL }}images/icons/topnav/messages.png" alt="" />
                        <span>Messages</span>
                        <span class="numberTop">8</span>
                        <ul class="menu_body"><li>
                                <a href="#" title="">new message</a>
                            </li>
                            <li>
                                <a href="#" title="">inbox</a>
                            </li>
                            <li>
                                <a href="#" title="">outbox</a>
                            </li>
                            <li>
                                <a href="#" title="">trash</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="">
                            <img src="{{ STATIC_URL }}images/icons/topnav/settings.png" alt="" />
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url userauth_logout %}" title="">
                            <img src="{{ STATIC_URL }}images/icons/topnav/logout.png" alt="" />
                            <span>Logout</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url userauth_login %}" title="">
                            <img src="{{ STATIC_URL }}images/icons/topnav/login.png" alt="" />
                            <span>Login</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="fix"></div>
        </div>
    </div>
</div>
