{% extends "base.html" %}

{% block title %}{{ block.super }} - Login{% endblock %}

{% block content_title %}{% endblock %}

{% block top-navigation %}
<!-- Top navigation bar -->
<div id="topNav">
    <div class="fixed">
        <div class="wrapper">
            <div class="backTo"><a href="#" title=""><img src="images/icons/topnav/mainWebsite.png" alt="" /><span>Main website</span></a></div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title=""><img src="images/icons/topnav/register.png" alt="" /><span>Register</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/topnav/contactAdmin.png" alt="" /><span>Contact admin</span></a></li>
                    <li><a href="#" title=""><img src="images/icons/topnav/help.png" alt="" /><span>Help</span></a></li>
                </ul>
            </div>
            <div class="fix"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block left-navigation %}{% endblock %}
{% block header-logo %}{% endblock %}
{% block main_title %}{% endblock %}

{% block content %}

<!-- Login form area -->
<div class="loginWrapper">
    <div class="loginLogo"><img src="{{ STATIC_URL }}images/loginLogo.png" alt="" /></div>
    <div class="loginPanel">
        <div class="head"><h5 class="iUser">Login</h5></div>
        {% if form.errors %}
            <div class="nNote nFailure">
                <p>Your username or password did not match</p>
            </div>
        {% endif %}
        <form action="{% url userauth_login %}"  method="post" accept-charset="utf-8" id="valid" class="mainForm">
            <fieldset>
                <div class="loginRow">
                    <label for="req1">Username:</label>
                    <div class="loginInput"><input type="text" name="username" value="" class="validate[required]" id="req1" /></div>
                    <div class="fix"></div>
                </div>

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

                <div class="loginRow">
                    <label for="req2">Password:</label>
                    <div class="loginInput"><input type="password" name="password" value="" class="validate[required]" id="req2" /></div>
                    <div class="fix"></div>
                </div>

                <div class="loginRow">
                    <input type="submit" value="Log me in" class="basicBtn submitForm" />
                    <div class="fix"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
