{% extends "base.html" %}

{% block title %}Dashboard - Chart{% endblock %}

{% block content_title %}<a href="/{{ month|add:-1 }}">&nbsp;&laquo;&nbsp;</a>{{ year }}/{{ month }}<a href="/{{ month|add:1 }}">&nbsp;&raquo;&nbsp;</a>{% endblock %}

{% block java-scripts %}
  <script src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
  <script src="{{ STATIC_URL }}js/highcharts/themes/gray.js"></script>
{% endblock java-scripts %}

{% block jquery-ready %}
    {{ block.super }}

    var chart2;
    chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart2',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: 'Network Traffic'
        },
        subtitle: {
            text: 'Flowing trough firewall'
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'datetime',
            maxZoom: 2 * 24 * 3600000, // 2 days
            title: {
                text: null
            }
        },
        yAxis: {
            title: {
                text: 'MB'
            },
            min: 0.6,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        legend: {
            enabled: true
        },
        plotOptions: {
            areaspline: {
                lineWidth: 1,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: false,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                }
            }
        },
        series: [
        {
            type: 'areaspline',
            name: 'Traffic Out',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC({{ year }}, {{ month|add:-1 }}, 1),
            fillColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                stops: [
                    [0, Highcharts.getOptions().colors[0]],
                    [1, 'rgba(2,0,0,0)']
                ]
            },
            data: [{% for t in traffic %}{{ t.raus }},{% endfor %}]
        },
        {
            type: 'areaspline',
            name: 'Traffic In',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC({{ year }}, {{ month|add:-1 }}, 1),
            fillColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                stops: [
                    [0, Highcharts.getOptions().colors[1]],
                    [1, 'rgba(2,0,0,0)']
                ]
            },
            data: [{% for t in traffic %}{{ t.rein }},{% endfor %}]
        }
        ]
    });


{% endblock jquery-ready %}

{% block content %}

<br>
<div id="chart2" style="min-width: 400px; height: 500px; margin: 0 auto"></div>

{% endblock %}
