{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block extra_head %}
{% endblock %}

{% block java-scripts %}
  <script src="{{ STATIC_URL }}js/visualize/visualize.jQuery.js"></script>
  <script src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
  {% load chartit %}
  <script src="{{ STATIC_URL }}js/highcharts/themes/gray.js"></script>
  {{ loginchart|load_charts:"container1" }}
{% endblock java-scripts %}

{% block jquery-ready %}
    {{ block.super }}
    $('table.pie').visualize({type: 'bar', barMargin: 5});
{% endblock jquery-ready %}

{% block content %}

<br>
<a href="{% url dashboard_search %}">Search</a> | <a href="chart/2012/03">Chart</a><br>

<div class="stats">
    <ul>
        <li><a title="" class="count grey" href="#">{{ login_ok|add:login_fail }}</a><span>total logins</span></li>
        <li><a title="" class="count green" href="#">{{ login_ok }}</a><span>successful logins</span></li>
        <li class="last"><a title="" class="count red" href="#">{{ login_fail }}</a><span>failed logins</span></li>
    </ul>
    <div class="fix"/>
</div>

<br>

<div class="title"><h5>Violations</h5></div>
<br>

<div id="container1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


<br>
<table class="pie">
  <caption>Seitenaufrufe pro Jahreszeit</caption>
  <thead>
    <tr><td></td><th>Visits</th></tr>
  </thead>
  <tbody>
  <tr><th>Winter</th><td>1100</td></tr>
  <tr><th>Frühling</th><td>1100</td></tr>
  <tr><th>Sommer</th><td>866</td></tr>
  <tr><th>Herbst</th><td>1000</td></tr>
  </tbody>
</table>
{% endblock %}
