{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content_title %}Dashboard | <a href="{% url dashboard_search %}">Search</a>{% endblock %}

{% block extra_head %}
{% endblock %}

{% block java-scripts %}
  <script src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
  <script src="{{ STATIC_URL }}js/highcharts/themes/gray.js"></script>
{% endblock java-scripts %}

{% block jquery-ready %}
    {{ block.super }}
    var chart;
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: 'Packet Filter'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' :
                'Drag your finger over the plot to zoom in'
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'datetime',
            //maxZoom: 14 * 24 * 3600000, // fourteen days
            maxZoom: 2 * 24 * 3600000, // 2 days
            title: {
                text: null
            }
        },
        yAxis: {
            title: {
                text: 'Number of Packets'
            },
            min: 0.6,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            crosshairs: false,
            shared: true
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[3]],
                        [1, 'rgba(2,0,0,0)']
                    ]
                },
                lineWidth: 1,
                lineColor: Highcharts.getOptions().colors[3],
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: false,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                }
            }
        },
        series: [{
            type: 'area',
            name: 'Dropped Packets',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC({{ year }}, {{ month|add:-1 }}, 1),
            data: [{% for drop in drops %}{{ drop.tot }},{% endfor %}]
        }]
    });

{% endblock jquery-ready %}

{% block content %}

<div class="stats">
    <ul>
        <li><a title="" class="count grey" href="#">{{ login_ok|add:login_fail }}</a><span>total logins</span></li>
        <li><a title="" class="count green" href="#">{{ login_ok }}</a><span>successful logins</span></li>
        <li class="last"><a title="" class="count red" href="#">{{ login_fail }}</a><span>failed logins</span></li>
    </ul>
    <div class="fix"/>
</div>

<br>

<div class="title"><h5>Violations</h5></div>
<br>
<div id="chart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<br>
<div class="title"><h5><a href="chart/2012/03">Traffic</a></h5></div>

<br>
<div class="title"><h5>Nagios</h5></div>

<div class="stats">
    <ul>
        <li><a title="" class="count grey" href="#">{{ live.0 }}</a><span>Arcobaleno Depots</span></li>
        <li><a title="" class="count green" href="#">{{ live.1 }}</a><span>Depots Up</span></li>
        <li class="last"><a title="" class="count red" href="#">{{ live.2 }}</a><span>Depots Down</span></li>
    </ul>
    <div class="fix"/>
</div>

{% endblock %}
